*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    
}

:root{
    --linear:linear-gradient( 45deg ,#2F80ED 50%,#00B4DB);
    --color: #181818;

}
body.active{
    --linear:linear-gradient( 45deg ,#181818 ,#1d2941 50%,#0f0c29);
    --color: #fff;
}   


.container{
    min-height: 100vh;
    width: 100%;
    background-image: var(--linear);
    position: relative;
    overflow: hidden;
}
.container > span{
    position: absolute;
    width: 100px;
    height: 100px;
    background: rgba(255, 255, 255, 0.589);
    border-radius: 50%;
    right: -3rem;
    top: -3.5rem;
}
.container > span.active{
    box-shadow: 0px 5px 30px rgba(255, 255, 255, 0.445);
}

header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .7rem 7%;
    position: relative;
}

header .logo h1{
    font-size: 2rem;
    color: var(--color);
}

header nav ul li{
    display: inline-block;
    list-style: none;
    margin: 1rem 2rem;
    color: var(--color);

}

.sw{
    width: 100%;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn{
    width: 90px;
    height: 45px;
    background: #fff;
    border-radius: 3rem;
    position: relative;
    cursor: pointer;
    box-shadow: 0px 3px 20px rgba(53, 53, 53, 0.445);
}
.btn.active{
    box-shadow: 0px 3px 15px rgba(255, 255, 255, 0.445);
    background: rgba(255, 255, 255, 0.589); 
}

.bol{
    position: absolute;
    width: 45px;
    height: 45px;
    background: #2F80ED;
    border-radius: 50%;
    border: .1rem solid #fff;
    /* z-index: 1000; */
}
.bol.active{
    right: 0;
    background: #0f0c29;
    border-color: rgba(255, 255, 255, 0.589);
}

.btn i{
    position: absolute;
    top: 50%;
    font-size: 1.2rem;
    transform: translateY(-50%);
    z-index: 100;
}
.btn .fa-sun{
    color: #fff;
    left: .8rem;
}
.btn .fa-moon{
    right: .8rem;
    color: var(--color);
}

.fa-bars{
    cursor: pointer;
    font-size: 1.2rem;
    display: none;
    color: var(--color);
}

.fa-cloud{
    position: absolute;
    top: 30%;
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.74);
    width: 100px;
    /* background: chartreuse; */
    text-align: center;
    text-shadow: 0px 2px 30px rgba(255, 255, 255, 0.445);
    animation: mov 3s linear infinite;
}

.cart{
    position: absolute;
    bottom: 2rem;
    left: 50%;
    transform: translateX(-50%);
    color: var(--color);
}
hr{
    position: absolute;
    bottom: 5rem;
    border: none;
    border-top: 1px solid rgba(255, 255, 255, 0.301);
    width: 97%;
    left: 50%;
    transform: translateX(-50%);
}
@keyframes mov {
    0%,100%{
        transform: translateX(0px);
    }
    20%{
        transform: translateX(50px);
    }
    80%{
        transform: translateX(-50px);
    }
  
}

@media (max-width: 500px){
    .fa-bars{
        display: block;
    }
    nav{
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        background-image: var(--linear);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: .4s;
    }
    nav.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
    nav ul li{
        display: block;
        padding: .5rem ;
        width: 100%;
        border-left: 2px solid var(--color);
        position: relative;
        z-index: 100;
    }
    nav ul li::after{
        content: '';
        position: absolute;
        top: 0;left: 0;
        width: 0%;
        height: 100%;
        z-index: -1;
        background-image: var(--linear);
        transition: .2s;
    }
    nav ul li:hover::after{
        width: 100%;
    }
  
    
}